.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
}

.Infected {

    border-bottom: 10px solid rgba(0,0,255);
}

.Recoveries {

    border-bottom: 10px solid rgba(0,255,0);
}

.Deaths {

    border-bottom: 10px solid rgba(255,0,0);
}

